button {background-color:#FFF;border:2.5 px solid black;}
body {background-color:#CCC;font-family:ink free;padding:5px;color:#00F;text-align:center;}
div {margin:5px;}
ul {list-style-type:none;}
a {text-decoration:none;}
a:hover {color:red;}
a:link {color:blue;}
a:visited {color:#00F;}
body {background-color:#CCC;font-family:ink free;padding:5px;color:#000;}
