/********** Html elements **********/
table,th,td {border:3px solid blue;margin-left:auto;margin-right:auto;}
th,td {padding:10px; text-align:center;}
h1 {color:#707070;}
h5 {color:green;}
button {background-color:#FFF;}
body {background-color:#CCCCCC;font-family:ink free;padding:5px;border:5px solid black;text-align:center;}
div {margin:5px;}
/********** Classes **********/
.ButtonDefault {color:#0000FF;}
.Memory {padding:2px;margin:5px;border:3px solid blue;background-color:#FFF;}
.MathBtn {padding:2px;margin:5px;border:3px solid green;}
.Alignment {padding:2px;margin:5px;border:3px solid blue;}
/********** Ids **********/
/* Google & Microsoft */
#ButtonGoogle {color:#FF0000;}
#ButtonMicrosoft {color:navy;}
/* Alert, confirm, & prompt */
#ACP {border:2.5px solid red;padding:5px;}
#acpstr {border:5px solid red;padding:2px;}
#acpstrt {border:5px solid green;padding:2px;}
#RunButton {border:5px solid blue;padding:2px;}
/* Math */
#MathDiv {border:2.5px solid green;padding:5px;}
#numOne {padding:2px;border:2.5px solid red;margin:5px;}
#numTwo {padding:2px;border:2.5px solid blue;margin:5px;}
#select {padding:2px;border:2.5px solid black;margin:5px;}
#CalculateMath {padding:2px;margin:5px;border:3px solid red;}
#MainMathDiv {border:2.5px solid red;padding:5px;}
#MemoryDiv {border:2.5px solid yellow;padding:5px;}
#OtherFuncDiv {border:2.5px solid blue;padding:5px;}
/* Links & Popups */
#Links {border:2.5px solid blue;padding:5px;}
#RedirectButton {cursor:pointer;background-color:#FFF;}
#RLink {margin:10px;padding:2px;border:2.5px solid blue;}
#Olink {padding:2px;margin:10px;border:2.5px solid blue;}
#PopupLink {padding:3px;border:3px solid blue;}
#OpenPopupButtonT {padding:3px;border:3px solid blue;}
/* Other */
#Cursors {border:2.5px solid yellow;padding:5px;}
#alignment {padding:5px;border:3px solid black;}
#OtherDiv {border:2.5px solid yellow;padding:5px;}
#DataDiv {border:2.5px solid green;padding:5px;}
